<div class="home-page">
	<div id="home-pinboard">
		<div id="lady-picture">
			<%=image_tag("lady_in_chair_400.jpg")%>
		</div>
		<div id="pinboard-right-side">
			<div id="writing-home-page">
				<div id="amys-art"
				  <h1>Amy's Art</h1>
				  <p>This is going to be the description of what is going on in this website and a little bit about who Amy is!</p>
			 	 <p>There are so many fun things you can do! </p>
			   </div>
			</div>
			<div id="bottom-pinboard-right-side">
				<div id="vintage-lady">
					<%=image_tag("vintage_woman.jpeg")%>
        </div>
				<div id="check-out-artwork">
					<h2>Click here to see Portraits!<h2>
				</div>
		  </div>
	</div>
</div>
